body {
  margin: 0px 0px 0px 0px;
}

.formaVerde {
height: 14%;
width: 100%;
border: 0px margin: 0px 0px 0px 0px;
background-color: #44A555;
margin: auto;
}

img{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
